doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title WebGL starter code generator
		link(rel='stylesheet',href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css')
		link(rel='stylesheet',href='index.css')
		script(src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js')
		script(src='index.js')
	body
		.webgl-starter
			javascript disabled
