doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title WebGL starter code
		script(src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='index.js')
	body
		.webgl-starter
			javascript disabled
