.webgl-starter {
	label:first-child {
		display: inline-block;
		width: 15em;
		text-align: right;
	}
	.min {
		display: inline-block;
		width: 3em;
		text-align: right;
	}
	.max {
		display: inline-block;
		width: 3em;
		text-align: left;
	}
	input[type="number"] {
		width: 4.5em;
	}
	pre {
		border: solid 1px #000;
	}
}
