.webgl-starter {
	.draggable-with-handle {
		position: relative;
		&.ghost {
			opacity: .4;
		}
		[draggable] { // drag handle
			position: absolute;
			top: 0.2em;
			bottom: 0.2em;
			width: 1em;
			cursor: move;
			// http://www.patternify.com/
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGUlEQVQYlWNgIAYYGxv/J4SJMog4MFStAwDfUCsJGefs4gAAAABJRU5ErkJggg==) center no-repeat, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAF0lEQVQYlWNgIBZ0dHT8J8SmIhiK1gEAJMkXUFw51ewAAAAASUVORK5CYII=) center;
		}
		.delete {
			position: absolute;
			top: 0.2em;
			bottom: 0.2em;
			width: 1em;
			right: 0;
			cursor: default;
			border: dotted 1px #888;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVQYlWNgIBYYGxv/J0ocXQCXRrgETgUETSDaJIJuItp3+AAAbDIUubYyZeYAAAAASUVORK5CYII=) center no-repeat;
		}
	}
	label:first-child {
		display: inline-block;
		width: 15em;
		text-align: right;
	}
	.min {
		display: inline-block;
		width: 4em;
		text-align: right;
	}
	.max {
		display: inline-block;
		width: 4em;
		text-align: left;
	}
	input[type="number"] {
		width: 4.5em;
	}
	input:invalid {
		background: #F8A;
	}
	pre {
		border: solid 1px #000;
	}
}
